<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Profile</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
  <nav>
    <div id="user_greeting">
      <h5>Welcome <%= userName.name %></h5>
    </div>
    <div id="app-title"><a href="/"><h1>tidy Task</h1></a></div>
    <div>
      <form action="/logout?_method=DELETE" method="POST">
        <button id="logout"><div class="fas fa-sign-out-alt"></div></button>
      </form>
    </div>
  </nav>
  <main>
    <section class="profile">
      <h2>Edit Profile</h2>
      <form method="POST" action="/editprofile" class="update-profile-form">
        <p>
          <label for="name">Name: </label>
          <input type="text" name = "name" placeholder="Display name" size="30"/>
        </p>
        <p>
          <label for="email">Email: </label>
          <input type="email" name = "email" autocomplete="username" placeholder="me@test.ca" size="30"/>
        </p>
        <p>
          <label for="password">Password: * </label>
          <input type="password" name="password" autocomplete="new-password" placeholder="Enter password" size="30" minlength="8" required/>
        </p>
        <p>
          <label for="update-button"></label>
          <button class="btn btn-success update-profile"  type="submit">Update!</button>
        </p>
      </form>

      <p>Fields with * are required</p>
    </section>
  </main>

</body>
</html>
