<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <!--External CSS-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
  <nav>
    <div id="user_greeting">
      <h4>Welcome <%= user.name %></h4>
    </div>
    <div id="app-title"><a href="/"><h1>SMART TODO</h1></a></div>
    <div class="nav-buttons">
      <button class="new-todo-toggle">
        <div id="cross"></div>
      </button>
      <button class="settings-button">
        <div class="dropdown">
          <div class="gear"></div>
            <div class="dropdown-content">
              <a href="/editprofile">
                <p>Edit Profile</p>
              </a>
        </div>
          </div>
      </button>
    </div>
    <form action="/logout?_method=DELETE" method="POST">
      <button id="logout"><div class="fas fa-sign-out-alt"></div></button>
    </form>
  </nav>
  <main>
    <!-- HOLD CATEGORIES -->
    <div class="left_menu_container">
      <div class="category_container">
        <ul class="filter" data-filter="1" id="filter_movies">Movies / Series</ul>
        <ul class="filter" data-filter="2" id="filter_restaurants">Restaurants</ul>
        <ul class="filter" data-filter="3" id="filter_books">Books</ul>
        <ul class="filter" data-filter="4" id="filter_products">Products</ul>
        <ul class="filter" data-filter="Uncategorized" id="filter_uncategorized">Uncategorized</ul>
      </div>
    </div>
    <!-- HOLD INSTANCES AND NEW TODO FORM -->
    <div class="main_content">
      <section class="compose-todo">
        <form class="edit-form">
          <p>
            <label for="title">Title: </label>
            <input type="text" id="title" placeholder="What would you like to track?" size="50">
          </p>
          <p>
            <label for="description">Description: </label>
            <textarea name="description" id="description" rows="3" cols="50" placeholder="Description..."></textarea>
          </p>
          <button class="btn btn-success" id="new_todo" type="submit">Submit!</button>
      </section>
      <div class="todos_container">
        <h2>Add a new Todo</h2>
        <!-- TO BE FILLED BY SCRIPTS -->
        <div class="fas fa-clipboard-list">
          <br>
          <p>Click on the '+' in the top right corner to add a new todo!</p>
        </div>
      </div>
    </div>

  </main>
</body>

</html>
