<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login/Registration</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
  <nav>
    <div id="app-title"><h1>SMART TODO</h1></div>
    </div>
  </nav>
  <main>
    <section class="login-form">
      <h2>Login</h2>
      <form method="POST" action="/login">
        <p>
          <label for="login">Email: </label>
          <input type="text" id="email" placeholder="Email" size="30">
        </p>
        <p>
          <label for="password">Password: </label>
          <input type="text" id="password" placeholder="Password" size="30">
        </p>
        <button class="btn btn-outline-success"  type="submit">Login!</button>
      </form>
    </section>
    <section class="register-form">
      <h2>Register</h2>
      <form method="POST" action="/register">
        <p>
          <label for="login">Email: </label>
          <input type="text" id="email" placeholder="Email" size="30">
        </p>
        <p>
          <label for="password">Password: </label>
          <input type="text" id="password" placeholder="Password" size="30">
        </p>
        <button class="btn btn-outline-success"  type="submit">Login!</button>
      </form>
    </section>
  </main>
</body>
</html>
