// See: https://sass-lang.com/

$break-small: 1080px;

body {
  background-color: white;

  h1 {
    color: white;
  }

  button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  }

  button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }

  button:active {
    outline: none;
    border: none;
  }

  button:focus {
    outline: 0;
  }


  nav {
    height: 7em;
    width: 100%;
    background-color:#7C7287;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    div#user_greeting{
      position: fixed;
      top: 3%;
      left: 3%;
    }

    .interactive {
      position: fixed;
      top: 3%;
      right: 5%;
    }

    .nav-buttons {

      button.new-todo-toggle {
        margin: 0 1.5em;
      }
      button.settings-button{


        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 110px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          padding: 12px;
          z-index: 1;
        }

        .dropdown:hover .dropdown-content {
          display: block;

        }
      }

        #cross {
          background: white;
          height: 25px;
          position: relative;
          left: 12px;
          width: 5px;
        }
        #cross:after {
          background: white;
          content: "";
          height: 5px;
          left: -10px;
          position: absolute;
          top: 10px;
          width: 25px;
        }

        $icon_size: 1.2em;

        .gear {
          display: inline-block;
          position: relative;
          margin: $icon_size/5;
          width: $icon_size;
          height: $icon_size;
          background: #7C7287;
          border-radius: 50%;
          border: $icon_size/3.5 solid white;
          box-sizing: border-box;

          &:before,
          &:after {
            content: '×';
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-family: "times new roman";
            font-weight: bold;
            font-size: $icon_size*2.5;
            color: white;
          }

      &:after {
        transform: translate(-50%,-50%) rotate(45deg);
      }
    }

  }
    .fa-sign-out-alt {
      position: fixed;
      top: 3%;
      right: 2.5%;
      color: white;
      font-size: 2em;

    }

    div#app-title{
      position: fixed;
      top: 1%;
      left: 45%;
    }
  }



  main{
    display: flex;
    align-items: stretch;

    section.login-form {
      background-color: #7C7287;
      display: block;
      width: 25vw;
      min-width: 40em;
      height: 20em;
      margin: 10em 2em 10em auto;;
      border-radius: 3em;
      padding: 5em;
    }

    section.register-form {
      background-color: #7C7287;
      display: block;
      width: 25vw;
      min-width: 40em;
      height: 20em;
      margin: 10em auto 2em 10em;
      border-radius: 3em;
      padding: 4em;
    }

    section.profile {
      background-color: #7C7287;
      display: block;
      width: 25vw;
      min-width: 40em;
      height: 25em;
      margin: 10em auto;
      border-radius: 3em;
      padding: 5em;

      button.update-profile{
        margin: 0.3em;
      }
    }

    form.edit-form  {
      display: table;
      border-spacing: 0.5em;
    }

    label {
      display: table-cell;
    }

    p {
      display: table-row;

    }

    input {
      display: table-cell;
      margin: 0.3em;
    }

    textarea {
      display: table-cell;
      vertical-align: top;
    }

    div.left_menu_container{
      position: fixed;
      top: 0;
      left: 0;
      width: 30vw;
      min-width: 15em;
      max-width: 20em;
      height: 100%;
      margin-top: 7em;
      padding: 2.8em 2.1em;
      background-color: whitesmoke;

      .category_container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        ul{
          padding: 1.2em 1.7em;
          margin: 0.1em;
        }

        ul:hover{
          border: 2px solid grey;
          border-radius: 1.7em;
          margin: 0.1em;
          padding: 1.2em 1.7em;
        }
      }
    }

    div.main_content{
      display: block;
      width: 100vw;
      height: 100vh;
      margin: 9.8em 5em 9.8em 25em;
      color: black;

      section.compose-todo {
        display: none;
        background-color: #7C7287;
        border-radius: 1.2em;
        padding: 0.5em;
        margin-bottom: 2em;
      }

      div.fa-clipboard-list {
        display: flex;
        font-size: 9em;
        margin: 2em auto;
        text-align: center;
        flex-direction: column;

        br {
          display: block;
          content: "";
          margin-top: 20px;
       }

        p {
          font-size: 18px;
        }
      }

      .completed {
        text-decoration: line-through;
        background-color: darkgrey;
      }

      div.to-do-instance {
        margin: 0.5em 0em;
        padding: 1.2em;
        border: 2px solid grey;
        border-radius: 1.7em;

        header {
          display: flex;
          justify-content: space-between;

          .description {
            color: grey;
          }
        }

        div form.edit-form{
          display: none;
        }

      }

    }

  }

}
