// See: https://sass-lang.com/

body {
  background-color: white;

  h1 {
    color: white;
  }

  button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  }

  button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }

  button:active {
    outline: none;
    border: none;
  }

  button:focus {
    outline: 0;
  }
}

nav {
  height: 7em;
  width: 100%;
  background-color:#7C7287;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  div#user_greeting{
    margin: 3.1em;
  }
  .nav-buttons {
    margin: 3.1em;
  }
}

main{
  display: flex;
  align-items: stretch;

  section {
    margin-bottom: 1.3em;
  }

  section.compose-todo {
    display: none;
    background-color: #7C7287;
    border-radius: 1.2em;
    padding: 0.5em;
  }

  form  {
    display: table;
    border-spacing: 0.5em;
  }

  label {
    display: table-cell;
    // align-items: right;
  }

  p {
    display: table-row;
  }

  input {
    display: table-cell;
  }

  textarea {
    display: table-cell;
    vertical-align: top;
  }

  .left_menu_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 30vw;
    min-width: 15em;
    max-width: 20em;
    height: 100%;
    margin-top: 7em;
    padding: 2.8em 2.1em;
    background-color: whitesmoke;

    .category_container{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      ul{
        padding: 1.2em 1.7em;
        margin: 0.1em;
      }

      ul:hover{
        border: 2px solid grey;
        border-radius: 1.7em;
        margin: 0.1em;
        padding: 1.2em 1.7em;
      }
    }
  }
  .main_content{
    display: block;
    width: 100vw;
    height: 100vh;
    margin: 9.8em 5em 9.8em 25em;
    color: black;

  }

  div.to-do-instance {

    margin: 0.5em 0em;
    padding: 1.2em;
    border: 2px solid grey;
    border-radius: 1.7em;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    div form.edit-form{
      display: none;
    }

  }

}

